[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
cx-oracle = "*"
requests = "*"
uvicorn = "*"
python-multipart = "*"
aiofiles = "*"
datetime = "*"
pandas = "*"
pyexcel = "*"
pyexcel-xlsx = "*"

[dev-packages]

[requires]
python_version = "3.10"
